## Enable line numbers
set linenumbers

## Include default syntax highlighting
include "/usr/share/nano/*.nanorc"

## Enable mouse support
set mouse

## Hacker-style colors for top and bottom bars, and selection
set titlecolor brightgreen,black      # Top title bar
set statuscolor brightgreen,black     # Bottom status/help bar
set selectedcolor black,brightgreen   # Selected text
